asgiref==3.8.1
beautifulsoup4==4.12.3
click==8.1.7
colorama==0.4.6
Django==4.2.16
django-bootstrap-v5==1.0.11
gunicorn==22.0.0
h11==0.14.0
packaging==24.0
pdfkit==1.0.0
soupsieve==2.6
sqlparse==0.5.0
tzdata==2024.1
uvicorn==0.29.0
waitress==3.0.0
whitenoise==6.6.0
